@media only screen and (min-width: 64rem) {
    #discover-card-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .discover-card {
        display: grid;
        grid-template-areas:
            "photo title"
            "photo address"
            "photo description"
            "photo button";
    }

    .discover-card img {
        width: 300px;
    }
}